/* GLOBAL SETTINGS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.patrick-hand-regular {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
}

body, html {
    font-family: "Patrick Hand", cursive;
}

/* MAIN TOP NAVBAR */

.main_navbar {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.menu_list {
    list-style-type: none;
    display: flex;
    margin: 0;
    gap: 1.5em;
    font-size: 1.5em;
    padding: 0;
}

.menu_list a {
    text-decoration: none;
}

.menu_list #current {
    font-weight: bold;
}

@media (max-width: 768px) {
    .menu_list {
        flex-wrap: wrap;
        justify-content: center;
    }
}

/* HERO SECTION */

#hero_section {
    display: flex;
    align-items: center;
    gap: 2.5em;

    max-width: 1100px;
    margin: 10em auto;
    padding: 0 1.5rem;
}

#hero_picture img{
    max-width: 800px;
    width: 100%;
    height: auto;
    border-radius: 50%;
}

#hero_text {
    font-size: 1.4em;
}

@media (max-width: 768px) {
    #hero_section {
        margin-top: 4em;
        flex-direction: column;
        text-align: center;
    }
}

/* ==== CV Page ==== */

.cv_section {
    padding: 0.7em 3em 1.5em;
    max-width: 800px;
    margin: 5em auto;

    display: flex;
    flex-direction: column;
    gap: 20px;

    background-color:lavender;
}

@media (max-width: 768px) {
    .cv_section{
        padding: 0.1em 1em 1em;
        margin: 3.5em 0;
    }
}