/* ==== GLOBAL SETTINGS ==== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.patrick-hand-regular {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
}

body, html, button {
    font-family: "Patrick Hand", cursive;
}

/* MAIN TOP NAVBAR */

.main_navbar {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.menu_list {
    list-style-type: none;
    display: flex;
    margin: 0;
    gap: 1.5em;
    font-size: 2em;
    padding: 0;
}

.menu_list a {
    text-decoration: none;
    color: #4b0187
}

.menu_list #current {
    font-weight: bold;
}

@media (max-width: 768px) {
    .menu_list {
        flex-wrap: wrap;
        justify-content: center;
        font-size: 1.5em;
        gap: 0.5em;
    }
}

/* ==== HOME PAGE (index.html) === */

#hero_section {
    display: flex;
    align-items: center;
    gap: 2.5em;

    max-width: 1100px;
    margin: 10em auto;
    padding: 0 1.5rem;
}

#hero_picture img{
    max-width: 800px;
    width: 100%;
    height: auto;
    border-radius: 50%;
}

#hero_text {
    font-size: 1.4em;
}

#socialmedia_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#socialmedia_section img{
    height: 80px;
    width: auto;
}

@media (max-width: 768px) {
    #hero_section {
        margin-top: 4em;
        flex-direction: column;
        text-align: center;
    }
}

/* ==== CV Page ==== */

.cv_section {
    padding: 3em 3em 5em;
    max-width: 800px;
    margin: 5em auto;

    display: flex;
    flex-direction: column;
    gap: 20px;

    background-color:lavender;
    border-radius: 2%;
}

.cv_section p { font-size: 1.2em; }
.cv_section h3 { font-size: 1.2em }
.cv_section h2 { font-size: 1.7em;}
.cv_section h1 { text-align: center; }

@media (max-width: 768px) {
    .cv_section{
        padding: 0.1em 1em 1em;
        margin: 3.5em 0;
    }
}
/* ==== ABOUT PAGE ==== */

#about_section {
    display: grid;
    grid-template-columns: 1fr;
    
    max-width: 1200px;
    margin: 4em auto;
    padding: 0 1.5rem;
    justify-content: center;

    gap: 20px;
}

.about_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    padding: 1em;
    background-color: #e8e8ff;
}

.about_content img { 
    width: 100%;
    height: auto;
}
.about_content p { font-size: 1.3em; }

#about_page_header {
    text-align: center;
    margin-top: 2em;
    font-size: 3em;
}

@media (max-width: 768px) {
    .about_content {
        grid-template-columns: 1fr;
    }

    .about_section img {
        max-width: 100%;
        height: auto;
    }
}

/* ==== PROJECT PAGE ==== */

#project_header {
    text-align: center;
    margin-top: 5em;
}

#project_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1400px;
    gap: 30px;

    margin: 4em auto;
    padding: 0 1.5rem;
    justify-content: center;
}

.projectcard {
    background-color: #f0e6ff;
    width: 100%;
    max-width: 600px;
    padding: 1em;

    display: flex;
    flex-direction: column;
    gap: 10px;
    
    font-size: 1.15em;
    border-radius: 2%;
}

.projectcard button {
    margin-top: 20px;
    width: 150px;
    height: 40px;

    font-size: 1.15em;
    background-color: #751aff;
    color: white;
}

.projectcard button:hover {
    background-color: #330080;
    cursor: pointer;
}

.projectcard img{
    width: 100%;
    height: 250px;
    display: block;
}

.modal {
    display: none; 
    position: fixed; 
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.4); 
    overflow: auto;
}

.modal_content {
  background-color: #fefefe;
  margin: 20% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 50%; 
}

.modal_content img {
    width: 75%;
}

#easteregg_modal img {
    width: 100%;
}

@media (max-width: 768px) {
    #project_section {
        grid-template-columns: 1fr;
    }

    .modal_content {
        width: 90%;
        margin: 50% auto; 
    }
}

/* ==== HIDDEN CLICKABLE AREA ==== */

.hidden_clickable_area {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 1000;
}

