/* ==== GLOBAL SETTINGS ==== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.patrick-hand-regular {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
}

body, html {
    font-family: "Patrick Hand", cursive;
}

/* MAIN TOP NAVBAR */

.main_navbar {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.menu_list {
    list-style-type: none;
    display: flex;
    margin: 0;
    gap: 1.5em;
    font-size: 1.5em;
    padding: 0;
}

.menu_list a {
    text-decoration: none;
}

.menu_list #current {
    font-weight: bold;
}

@media (max-width: 768px) {
    .menu_list {
        flex-wrap: wrap;
        justify-content: center;
    }
}

/* ==== HOME PAGE (index.html) === */

/* HERO SECTION */

#hero_section {
    display: flex;
    align-items: center;
    gap: 2.5em;

    max-width: 1100px;
    margin: 10em auto;
    padding: 0 1.5rem;
}

#hero_picture img{
    max-width: 800px;
    width: 100%;
    height: auto;
    border-radius: 50%;
}

#hero_text {
    font-size: 1.4em;
}

@media (max-width: 768px) {
    #hero_section {
        margin-top: 4em;
        flex-direction: column;
        text-align: center;
    }
}

/* ==== CV Page ==== */

.cv_section {
    padding: 0.7em 3em 1.5em;
    max-width: 800px;
    margin: 5em auto;

    display: flex;
    flex-direction: column;
    gap: 20px;

    background-color:lavender;
}

@media (max-width: 768px) {
    .cv_section{
        padding: 0.1em 1em 1em;
        margin: 3.5em 0;
    }
}
/* ==== ABOUT PAGE ==== */

.about_section {
    display: grid;
    grid-template-columns: 1fr 1fr;

    max-width: 1400px;
    margin: 4em auto;
    padding: 0 1.5rem;
    gap: 20px;
    row-gap: 100px;
}

.about_section p { font-size: 1.2em; }

#about_page_header {
    text-align: center;
    margin-top: 2em;
    font-size: 3em;
}

@media (max-width: 768px) {
    .about_section{
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .about_section img {
        max-width: 100%;
        height: auto;
    }
}

/* ==== PROJECT PAGE ==== */

#project_header {
    text-align: center;
    margin-top: 5em;
}

#project_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1400px;
    gap: 30px;

    margin: 4em auto;
    padding: 0 1.5rem;
    justify-content: center;
}

.projectcard {
    background-color: beige;
    width: 100%;
    max-width: 600px;
    padding: 1em;
}

.projectcard img{
    width: 100%;
    height: auto;
    display: block;
}

.modal {
    display: none;
    background-color: beige;
}

@media (max-width: 768px) {
    #project_section {
        grid-template-columns: 1fr;
    }
}

